%h1 Tasks

= render 'form'

%div.tasklist
  - for task in @tasks
    %div{id: "task_#{task.id}"}
      %i.glyphicon.glyphicon-ok
      #{link_to task.task, edit_task_path(task), id: task.id} 
      
      

  
  